.wrapper-img {
	background-image: url(../ex10_html-css-fundamentals-part2/img/cat.jpg);
	background-position: center;
	margin: 50px;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border: 5px solid rgba(228, 176, 72, 0.9);
}

.wrapper-img:hover {
	filter: grayscale(1);
	transition: ease-in 1s;
	cursor: pointer;
	transform: rotateZ(360deg);
}
