body {
	margin: 0;
	padding: 0;
}

.app {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}

.header {
	height: 45px;
	padding: 5px 0px 5px 14px;
	background: #0067a3;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.logo__menu {
	width: 45px;
	height: 45px;
	background-image: url(../kanban/assets/img/logo.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

.logo__title {
	margin-left: 8px;
	font-size: 28px;
	line-height: 33px;
	color: #ffffff;
}

.user {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.user__button {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 181px;
	height: 33px;
	background: #ffffff;
	border-radius: 5px;
}

.add-list__img {
	margin-left: 8px;
	width: 24px;
	height: 24px;
	background-image: url(../kanban/assets/img/add-list.svg);
}

.add-list__title {
	margin-left: 12px;
	font-size: 18px;
	line-height: 21px;
}

.user-menu {
	margin-left: 49px;
	width: 64px;
	height: 40px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.user-menu__avatar {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #ffffff;
	background-image: url(../kanban/assets/img/user-in-avatar.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

.user-menu__dropdown {
	width: 24px;
	height: 24px;
	background-image: url(../kanban/assets/img/arrow.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

.user-menu__list {
	position: absolute;
	top: 45px;
	right: 0px;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	background: rgba(0, 103, 163, 0.8);
	border-bottom-left-radius: 10px;
}

.list__item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 90px;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

.list__item:nth-child(n) {
	border-bottom: 1px solid #cbcbcb;
}
.list__item:last-child {
	border-bottom: none;
}

.list__item:hover {
	cursor: pointer;
	color: #cbcbcb;
}

.main {
	display: flex;
	scroll-snap-type: x mandatory;
	overflow-x: auto;
	max-height: 500px;
	padding: 10px 20px;
	background: #0079bf;
}

.main::-webkit-scrollbar {
	width: 12px;
}

.main::-webkit-scrollbar-track {
	background: #ffffff;
}

.main::-webkit-scrollbar-thumb {
	background: #cbcbcb;
	border-radius: 10px;
}

.main__list {
	display: flex;
	flex: none;
	flex-flow: column nowrap;
	width: 300px;
	max-height: 450px;
	height: min-content;
	margin: 10px 10px 0px 10px;
	background: #ebecf0;
	border-radius: 10px;
}

.list-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 12px 12px 0px 12px;
}

.list-header__title {
	font-size: 18px;
	line-height: 21px;
}

.list-header__menu {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}

.list-content {
	display: flex;
	flex-flow: column nowrap;
	scroll-snap-type: y proximity;
	overflow-y: auto;
}

.list-content::-webkit-scrollbar {
	width: 12px;
}

.list-content::-webkit-scrollbar-track {
	background: #ffffff;
}

.list-content::-webkit-scrollbar-thumb {
	background: #cbcbcb;
	border-radius: 10px;
}

.list-content__task {
	margin: 15px 12px 0px 12px;
	padding: 7px;
	background: #ffffff;
	border-radius: 5px;
}

.list-footer {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 15px 12px 8px 12px;
}

.list-footer__add-card {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.add-card__img {
	width: 16px;
	height: 16px;
	background-image: url(../kanban/assets/img/add-card.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

.add-card__title {
	margin-left: 3px;
	font-size: 18px;
	line-height: 21px;
	color: #5e6c84;
}

.footer {
	height: 55px;
	background: #0067a3;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.info-task {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-left: 70px;
}

.info-task__active-tasks {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.info-task__finished-tasks {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	margin-left: 35px;
}

.info-developer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-right: 24px;
}

.info-developer__name-year {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

@media (max-width: 768px) {
	.header {
		height: 90px;
		flex-flow: column nowrap;
	}

	.footer {
		height: 110px;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
	}

	.info-task {
		margin-left: 0px;
	}
}

@media (max-width: 400px) {
	.logo__menu {
		width: 32px;
		height: 32px;
	}

	.logo__title {
		font-size: 20px;
		line-height: 25px;
	}

	.user-menu {
		margin-left: 10px;
	}

	.header {
		height: 90px;
		flex-flow: column nowrap;
	}

	.info-task__active-tasks,
	.info-task__finished-tasks,
	.info-developer__name-year {
		font-size: 14px;
	}
}

.logo__menu,
.logo__title,
.user__button,
.user-menu,
.list-header__menu,
.list-footer__add-card {
	cursor: pointer;
}
.list-content__task {
	cursor: move;
}
